pink_db.json
.docx
data.cpython-39.pyc
__pycache__
.vscode
temp.py
Tal - PinkFloyd.rar
הורדת גליטר - חניכים.docx
lesson09-ex01-glitter.docx
GlitterClient
accountpass.txt
WiresharkLeftOver
GlitterBrowser.exe - Shortcut.lnk